/*This is the CSS page for our final template.*/
body {
    font-family: Times New Roman, serif;
   font-size: 20px;
   
}

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color:skyblue;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	font-family: 'Times New Roman', serif;
	background-color:#D6E3F8;
	padding:5px;
}
h4 {
	font-style: italic;
	font-size: 25px;
	font-family: 'Georgia', serif;
	
}
h3 {
	font-size: 30px;
	font-family: Oswald;
}

img {
	float: right;
	margin-left: 5%;
	margin-right: 5%;
}
.caption {
  font-size: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  text-align: right;
}
.oswald-subhead {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.mainimage {
  float: right;
  margin-left: 5%;
  margin-right:5%;
  margin-top: 30px;
  margin-bottom: 30px;
}
/*MOBILE ONLYt*/
@media only screen and (max-width: 767px)
{
 .list {
 	border width: 2px solid darkgray:;
 	padding-left:10px;
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
}
 	.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color:skyblue;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
 }


}
.